#login-container {
  display: flex;
  flex-direction: column;
  padding: 1.7em;
  width: 25%;
  margin: auto;
  position: relative;
}

.Sign-Up-btn {
  margin-top: 2.5em;
  height: 2.5em;
}
.Login-btn {
  margin-top: 2.5em;
  height: 2.5em;
  float: right;
}
.footer-sec {
  text-align: center;
}
.footer-sec a {
  text-decoration: none;
}
