.container {
    width: 80%;
    margin: auto;
}
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url("/../assets/recipe/recipe_place_holder.jpg");
  background-size: cover;
}
.gird-tile {
}
.recipe-image {
    height: 100px;
    width: 100px;
}
